<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %> 
    <title>Page not found</title>
</head>

<body class="error">
    <header>
        <%- include ("partials/header.ejs") %> 
    </header>
        <section>
            <h2>Ooooops</h2>
            <img src="images/error.svg" alt="image person">
            <p>Sorry, the page you are trying to reach does not exist...Go back to the home page.</p>
            <a href="index">Go to homepage</a>

            <!-- <div>
            </div> -->
        </section>
    <%- include ("partials/footer.ejs") %> 
</body>

</html>