<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %> 
    <title>Page not found</title>
</head>

<body class="swipe">
    <header>
        <%- include ("partials/header.ejs") %> 
    </header>
    <p>Oeps! Something went wrong...</p>
    <%- include ("partials/footer.ejs") %> 
</body>

</html>