<footer>
    <ul>
        <li><a href="#"><img src="images/stack.svg" alt="Filter icon"></a></li>
        <li><a href="#"><img src="images/likes.svg" alt="Filter icon"></a></li>
        <li><a href="#"><img src="images/profile.svg" alt="Filter icon"></a></li>
    </ul>
</footer>