<ul>
  <li><h1>loveback.</h1></li>
  <li><a href="/"><img src="images/logo.svg" alt="Logo loveback"></a></li>
  <li><a href="filters">
      <img src="images/filterIcon.svg" alt="Filter icon">
  </a></li>
</ul>