* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFE9F7;
    color: #651848;
}

/******************************************************************************
                            MOBILE filters header
*******************************************************************************/
.filtersPage header {
    display: flex;
    margin: 1em;
}

.filtersPage header h1 {
    font-size: 3em;
}

.filtersPage header a i {
    font-size: 2.5em;
    padding-top: 0.4em;
    padding-right: 0.5em;
}

.filtersPage header a {
    color: #651848;
}

.filtersPage header a:active {
    color: #FFBFE7;
}

/******************************************************************************
                            MOBILE filters main
*******************************************************************************/
.filtersPage main {
    margin: 0em 1em;
}

.filtersPage main section {
    margin: 2em 0em;
}

.filtersPage main section h2 {
    font-size: 24px;
    padding-bottom: 0.5em;
}

.filtersPage main section label {
    padding-right: 2.5em;
    font-size: 1em;
}

.filtersPage main section fieldset {
    border: none;
}


/******************************************************************************
                            MOBILE index & swipeAfter header
*******************************************************************************/

.swipe header {
    margin: 0em 1em 1em 1em;
}

.swipe header img:first-of-type {
    height: 10%;
    width: 10%;
}

.titleH1 {
    visibility: hidden;
}

/******************************************************************************
                            MOBILE index & swipeAfter main
*******************************************************************************/

.swipe main {
    margin: 0em 1em;
}

.swipe fieldset {
    border: none;
}

.swipe section.swipeStack {
    padding: 1.5em 1.5em 1.5em 1.5em;
    background-color: #651848;
    color: white;
    border-radius: 1em;
}

.swipe section:first-of-type img {
    width: 100%;
    height: 80%;
    border-radius: 1em;
}

/* .swipe section:nth-of-type(2) i {
    width: 5%;
    height: 5%;
} */

/******************************************************************************
                            MOBILE index & swipeAfter footer
*******************************************************************************/

.swipe footer {
    background-color: #651848;
    border-radius: 5px;
    padding: 1em;
}

.swipe footer a i {
    font-size: 2em;
    padding: 0.5em;
    color: White;

}